#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 7;
        background: var(--primary-color);
        color: var(--light-color);

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 88px;

        position: relative;

        img {
            max-width: 328px;
        }

        strong {
            font: 700 36px 'Poppins', san-serif;
            line-height: 42px;
            margin-top: 16px;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: var (--background-color);
        }
    }

    main {
        flex: 8;

        padding: 0 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }

        form {
            input {
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background: var(--light-color);
                border: 1px solid var(--separator-color);

                margin: 32px 0;
                display: flex;
                align-items: center;

                color: var(--text-primary-color);
            }

            button {
                margin-top: 16px;
            }

            button, input {
                width: 100%;
            }
        }

        p {
            font-size: 14px;
            color: var(--gray1);
            margin-top: 16px;

            a {
                color: var(--secondary-color);
            }

            .btn-singOut {
                color: var(--secondary-color);
                text-decoration: underline;
                background-color: transparent;
                border-style: none;
                cursor: pointer;
            }
        }

    }

    .create-room {
        margin-top: 64px;
        height: 60px;
        border-radius: 8px;
        font-weight: 500;
        background: var(--red1);
        color: var(--light-color);
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap:5px;
    
        cursor: pointer;
        border: 0;
    
        transition: filter 0.2s;
    
        img {
            margin-right: 8px;
        }
    
        &:hover {
            filter: brightness(0.9);
        }
    }

    .separator {
        font-size: 14px;
        color: var(--separator-color);
        
        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background-color: var(--separator-color);
            margin-right: 16px;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background-color: var(--separator-color);
            margin-left: 16px;
        }
    }

    /*Dark Theme*/
    &.dark-theme {

        .separator {
            color: var(--dark-theme-separator-color);
    
            &::before {
                background-color: var(--dark-theme-separator-color);       
            }
    
            &::after {
                background-color: var(--dark-theme-separator-color);
            }
        }
    }
}
