#page-room {
    header {
        padding: 24px;
        border-bottom: 1px solid var(--border-room-color);

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                max-height: 45px;
            }

            > div {
                display: flex;
                gap: 16px;

                button:not(#theme-button) {
                    height: 40px;
                }
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: var(--text-primary-color);
            }

            span {
                margin-left: 16px;
                background: var(--secondary-color);
                border-radius: 9999px;
                padding: 8px 16px;
                color: var(--light-color);
                font-weight: 500;
                font-size: 14px;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: var(--textarea-background-color);
                box-shadow: 0 2px 12px var(--black-color-rgba004);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 16px;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 8px;
                        color: var(--text-primary-color);
                        font-weight: 500;
                        font-size: 14px;
                    }

                    button {
                        margin-left: 8px;
                        color: var(--secondary-color);
                        text-decoration: underline;
                        background-color: transparent;
                        border-style: none;
                        cursor: pointer;
                    }
                }

                > span {
                    font-size: 14px;
                    color: var(--gray1);
                    font-weight: 500;

                    button {
                        background: transparent;
                        border: 0;
                        color: var(--primary-color);
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }

        .question-list {
            margin-top: 32px;
        }
    }

    &.dark-theme {
        header {
            border-bottom: 1px solid var(--dark-theme-border-room-color);
        }
    
        main {
            .room-title { 
                h1 {
                    color: var(--dark-theme-text-primary-color);
                }
            }
    
            form {
                .form-footer {  
                    .user-info {
                        span {   
                            color: var(--dark-theme-text-primary-color);
                        }
                    }
                }
            }
        }
    }
}
