#room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: var(--light-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;

    display: flex;

    div {
        background:  var(--primary-color);
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 230px;
        font-style: 14px;
        font-weight: 500;
        color: var(--text-primary-color);
    }

    /*Dark Theme*/
    &.dark-theme {
        background: var(--dark-theme-light-color);

        span {
            color: var(--dark-theme-text-primary-color);
        }
    }
}
